.app {
  height: 100vh;
  background-image: url('../src/assets/bg.jpg');
  background-size: cover;
}

.input {
  color: white;
  margin-top: 50px;
  margin-bottom: 100px;
}

.container {
  
  display: flex;
  justify-content: center;
}

.quote, .author {
  display: flex;
  color: aliceblue;
  justify-content: center;
  padding: 15px;
  
}